body{
background-image:url("background.jpg")
}
h1{
color:yellow;
}
img{
border-radius:50%;
border:5px solid #000;
}
ul{
list-style-type:none;
margin:0;
padding:0;
width:100%;
background-color:yellow;
}
li{
display:inline;
}
li a{ 
padding:16px 16px;
text-decoration:none;
font-size:25px;
}
li a:hover{
background-color:grey;
color:white;
}
.content{
margin-left:20%;
margin-right:20%;
background-color:white;
}
h1{
text-align:center;
}
